# === Unity project ===
*.log
*.blend1
*.blend1.meta
*.DotSettings.user
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
mono_crash.*
sysinfo.txt
InitTestScene*.unity*
addressables_content_state.bin
Assets/AddressableAssetsData/*/*.bin*
Assets/StreamingAssets/aa*
Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
Assets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
Assets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
Assets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta
Assets/Plugins/Editor/JetBrains*
Assets/AssetStoreTools*
Assets/InitTestScene*.unity*

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/MemoryCaptures/
/Recordings/
/ServerData/
/ExportedObj/
/.consulo/

# Visual Studio
.vs/
.gradle/

# JetBrains Rider
.idea/
.idea/*

# === Kotlin/Android Studio project ===
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# === General ===
*.DS_Store
*.swp
*.swo