*.json linguist-language=Ignore
*.asset linguist-language=Ignore
*.shader linguist-language=Ignore
*.cginc linguist-language=Ignore
*.wlt linguist-language=Text
Assets/**/Generated/** linguist-vendored
